.blogArea {
  position: fixed;
  top: 90px; /* Height of the topBar */
  left: 125px; /* Width of the sideBar */
  right: 0;
  bottom: 0;
  background-color: #f9f9f9;
  border: 1px solid #9f9e9e;
  overflow-y: scroll; /* Add scroll functionality if needed */
}
.TextBar {
  border: 1px solid #3e3d3d;
}
.TextBar-content {
  margin-top: 30px;
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}

.TextBar-content .InputContainer {
  display: flex;
  gap: 10px;
}

.TextBar-content .InputContainer input {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.TextBar-content textarea {
  flex: 1;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}
.submitButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #2d79f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #1e62d0;
}
