.topBar {
  background-color: #2d79f3;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #ff0000;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: colorChange 2s infinite alternate;
  border-radius: 10px;
  padding: 0 20px;
  margin: 0;
}

@keyframes colorChange {
  0% {
    font-style: normal;
    font-family: "Arial", sans-serif;
  }
  50% {
    font-style: italic;
    font-family: "YourUniqueFont", sans-serif;
  }
  100% {
    font-style: normal;
    font-family: "Arial", sans-serif;
  }
}
